@keyframes fluid-background-color {
  0% {
    background-color: red;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: pink;
  }
  100% {
    background-color: red;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-name: fluid-background-color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
